/* ============ chrome-light theme ============= */
.dtjs-root.chrome-light {
    background-color: #fff;
}
.dtjs-root.chrome-light .k {
    color: #8c1b95;
}
.dtjs-root.chrome-light .c {
    color: #202020;
}
.dtjs-root.chrome-light .str {
    color: #c41a16;
}
.dtjs-root.chrome-light .num {
    color: #2307d0;
}
.dtjs-root.chrome-light .bool {
    color: #2307d0;
}
.dtjs-root.chrome-light .cb,
.dtjs-root.chrome-light .ob,
.dtjs-root.chrome-light .dots::after {
    color: #202020;
}
.dtjs-root.chrome-light .hc ul {
    border-left-color: #ccc;
}
.dtjs-root.chrome-light .sep,
.dtjs-root.chrome-light .null,
.dtjs-root.chrome-light .undef,
.dtjs-root.chrome-light .hc::after {
    color: #818181;
} /* item count text color */
.dtjs-root.chrome-light .ex {
    border-top-color: #878787;
}
/* keyboard navigation styles */
.dtjs-root.chrome-light.dtjs-root-focused {
    background-color: #f7f2f2;
}
.dtjs-root.chrome-light .dtjs-highlight {
    background-color: #efe3e3;
}
.dtjs-root.chrome-light .dtjs-md > .ex {
    border-top-color: #529dff;
}
.dtjs-root.chrome-light .dtjs-mu::before,
.dtjs-root.chrome-light .dtjs-mu.fold > .cb::after {
    background-color: #529dff;
}
/* keyboard navigation styles */
