/* ============ one-dark theme ============= */
.dtjs-root.darcula { background-color: #2e2e2e; }
.dtjs-root.darcula .k { color: #9876aa; }
.dtjs-root.darcula .c { color: #a9b7c6; }
.dtjs-root.darcula .str { color: #6b8859; }
.dtjs-root.darcula .num { color: #6999bd; }
.dtjs-root.darcula .bool { color: #cc7832; }
.dtjs-root.darcula .cb,
.dtjs-root.darcula .ob,
.dtjs-root.darcula .dots::after { color: #a9b8c7; }
.dtjs-root.darcula .hc ul { border-left-color: #565656; }
.dtjs-root.darcula .sep { color: #cc7832; }
.dtjs-root.darcula .null { color: #cc7832; }
.dtjs-root.darcula .undef { color: #9876aa; }
.dtjs-root.darcula .hc::after { color: #817e80; } /* item count text color */
.dtjs-root.darcula .ex { border-top-color: #6a6a6a; }
/* keyboard navigation styles */
.dtjs-root.darcula.dtjs-root-focused { background-color: #363636; }
.dtjs-root.darcula .dtjs-highlight { background-color: #3f3f3f; }
.dtjs-root.darcula .dtjs-md > .ex { border-top-color: #c4a953; }
.dtjs-root.darcula .dtjs-mu::before,
.dtjs-root.darcula .dtjs-mu.fold > .cb::after { background-color: #c4a953; }
/* keyboard navigation styles */
