sudo: false
notifications:
  email: false
branches:
  only:
    - master

language: node_js
node_js:
   - "8.9.1"
cache:
  directories:
    - "node_modules"

before_script:
  - npm prune
script:
  - npm run lint
  - npm run test:single
  - npm run test:coverage
after_success:
  - npm run report-coverage
before_deploy:
  - npm run build:demo
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: "demo/dist"
  target-branch: gh-pages
  email: deploy@travis-ci.org
  name: Deployment Bot
  on:
    branch: master
