/*common styles*/
.dtjs-root {
	font: 14px/26px monospace;
	font: 14px/30px monaco;
	margin: 0;
	outline: none;
	padding: 0 0 0 32px;
}

.dtjs-root li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hc {
	position: relative;
}

.hc ul {
	padding-left: 34px;
	margin-left: 1px;
}

.ex {
  	width: 0;
  	height: 0;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
	cursor: pointer;
	position: absolute;
	left: -21px;
	top: 12px;
}

.dots {
	display: inline-block;
	display: none;
}
.dots:after {
	content: '...';
	margin: 0 2px;
}

.fold ul {
	display: none;
}
.fold .dots {
	display: inline-block;
}
.fold .ex {
	transform: rotate(-90deg);
}

/* initially hide item count text */
.hc:after {
	content: attr(data-cc);
	display: none;
	position: absolute;
	top: 1px;
	margin-left: 15px;
}
/* show item count text after fold */
.hc.fold:after {
	display: inline-block;
}

.dtjs-mu:before,
.dtjs-mu.fold > .cb:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 9px;
	height: 3px;
}
.dtjs-mu.fold > .cb:after {
	left: -1px;
	bottom: -6px;
}
.dtjs-mu.fold:before { display: none; }
.dtjs-mu.fold > .cb { position: relative; }



/* ============ default theme ============= */
.k { color: #666; }
.str { color: rgb(244, 54, 54); }
.num { color: blue; }
.null,
.dots:after,
.undef { color: #ccc; }
.bool { color: brown; }
.cb,
.ob { color: #444; }
.sep { color: #777; }
.hc ul { border-left: 1px dotted #ccc; }
.hc:after { color: #989797; } /* item count text color */
.ex { border-top: 7px solid #b3b3b3; }
/* keyboard navigation styles */
.dtjs-root-focused { background-color: #f7f2f2; }
.dtjs-highlight { background-color: #efe3e3; }
.dtjs-md > .ex { border-top: 7px solid #4093ff; }
.dtjs-mu:before,
.dtjs-mu.fold > .cb:after { background-color: #4093ff; }
/* keyboard navigation styles */
/* ============ default theme ============= */


/* ========== theme styles - one dark ============= */
.one-dark {
	background-color: rgb(45, 45, 45);
	padding-left: 34px; /*need more space on left to show root arrow down*/
}
.one-dark .k { color: rgb(220, 220, 220); }
.one-dark .str { color: rgb(126, 198, 153); }
.one-dark .num { color: rgb(204, 153, 205); }
.one-dark .bool { color: rgb(240, 141, 73); }
.one-dark .cb,
.one-dark .ob,
.one-dark .dots:after {
	color: rgb(103, 205, 204);
}
.one-dark .hc ul {
	border-left-color: #666;
}
.one-dark .sep,
.one-dark .null,
.one-dark .undef,
.one-dark .hc:after {
	color: rgb(153, 153, 153);
}
.one-dark .ex { border-top: 7px solid #666; }
/* ========== theme styles - one dark ============= */

/* need to select sibling last span element */
/* if we can't then add a class to the closing bracket, then select it */
/*a:hover:last-child {
	color: #51af55;
}*/
