/* dom-tree.css rules */
/* Always scope styles under .dtjs-root class */
/* All color related styles are written in themes file */

/* css reset inside .dtjs-root */
.dtjs-root,
.dtjs-root li,
.dtjs-root ul,
.dtjs-root span {
    margin: 0;
    padding: 0;
    outline: none;
}
.dtjs-root li { list-style: none; }
/* css reset */

.dtjs-root {
    font: 14px/30px monaco;
    padding: 0 0 0 32px;
}
.dtjs-root.dtjs-empty { padding-left: 7px; }
.dtjs-root .hc { position: relative; }
.dtjs-root .hc ul {
    padding-left: 34px;
    margin-left: 1px;
    border-left: 1px dotted transparent;
}
.dtjs-root .hc .ex { /* expand arrow icon */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid transparent;
    cursor: pointer;
    position: absolute;
    left: -21px;
    top: 12px;
    transition: transform 0.3s ease;
}

/* 3 Dots */
.dtjs-root .dots { display: none; }
.dtjs-root .dots::after { /* dots element value */
    content: '...';
    margin: 0 2px;
}

/* Item count text */
.dtjs-root .hc::after {
    content: attr(data-cc);
    display: none;
    position: absolute;
    top: 1px;
    margin-left: 15px;
}

/* keyboard navigation */
.dtjs-root .dtjs-mu::before,
.dtjs-root .dtjs-mu > .cb::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 3px;
    left: 0;
    bottom: 0;
    display: inline-block;
}
.dtjs-root .dtjs-mu > .cb::after { display: none; } /* become visible after ele get folded */

/* element get folded */
.dtjs-root .fold ul { display: none; }
.dtjs-root .fold .dots { display: inline-block; } /* show the dots */
.dtjs-root .fold .ex { transform: rotate(-90deg); }
.dtjs-root .fold::after { display: inline-block; } /* show item count text */
/* move up KB navigation highlight cursor after folded */
.dtjs-root .fold.dtjs-mu::before { display: none; }
.dtjs-root .fold.dtjs-mu > .cb { position: relative; }
.dtjs-root .fold.dtjs-mu > .cb::after {
    display: inline-block;
    left: -1px;
    bottom: -6px;
}
