/*
    dom_tree.css rules
    - Always scope styles under `dt-root` class
    - Use themes to define colors
*/

/* css reset inside .dt-root */
.dt-root,
.dt-root li,
.dt-root ul,
.dt-root span {
    margin: 0;
    padding: 0;
    outline: none;
}
.dt-root li {
    list-style: none;
}
/* css reset */

.dt-root {
    font: 14px/30px SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    padding: 0 0 0 32px;
}
.dt-root.dt-empty {
    padding-left: 7px;
}
.dt-root .dt-hc {
    position: relative;
}
.dt-root .dt-hc ul {
    padding-left: 34px;
    margin-left: 1px;
    border-left: 1px dotted transparent;
}
.dt-root .dt-hc .dt-expandable {
    /* expand arrow icon */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid transparent;
    cursor: pointer;
    position: absolute;
    left: -21px;
    top: 12px;
    transition: transform 0.3s ease;
}

/* 3 Dots */
.dt-root .dt-dots {
    display: none;
}
.dt-root .dt-dots::after {
    /* dots element value */
    content: '...';
    margin: 0 2px;
}

/* Item count text */
.dt-root .dt-hc::after {
    content: attr(data-cc);
    display: none;
    position: absolute;
    top: 1px;
    margin-left: 15px;
}

/* keyboard navigation */
.dt-root .dt-mu::before,
.dt-root .dt-mu > .dt-close-bracket::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 3px;
    left: 0;
    bottom: 0;
    display: inline-block;
}
.dt-root .dt-mu > .dt-close-bracket::after {
    display: none;
} /* become visible after ele get folded */

/* element got folded */
.dt-root .dt-fold ul {
    display: none;
}
.dt-root .dt-fold .dt-dots {
    display: inline-block;
}

/* show the dots */
.dt-root .dt-fold .dt-expandable {
    transform: rotate(-90deg);
}
.dt-root .dt-fold::after {
    /* show item count text */
    display: inline-block;
}

/* move up KB navigation highlight cursor after folded */
.dt-root .dt-fold.dt-mu::before {
    display: none;
}
.dt-root .dt-fold.dt-mu > .dt-close-bracket {
    position: relative;
}
.dt-root .dt-fold.dt-mu > .dt-close-bracket::after {
    display: inline-block;
    left: -1px;
    bottom: -6px;
}
